body {
	background: #1c1b21;
	color: #fafafa;
	font-size: 55px;
	font-family: 'Fira Sans', sans-serif;
}

.container {
	display: flex;
	border: 10px solid #6c38cc;
	flex-direction: column;
}

.item {
	background: #232228;
	border: 1px solid #6c38cc;
	text-align: center;
	padding: 10px;
}
